@font-face {
    font-family: fredoka-one;
    src: url('~@/assets/fonts/FredokaOne/FredokaOne-Regular.ttf');
}


@font-face {
    font-family: quick-sand;
    src: url('~@/assets/fonts/Quick-Sand/Quicksand-Regular.ttf');
}