
// COLOR PALETTE
$clr1: #D3B99E;
$clr2: #4b4641;
$clr3: #B8A99A;
$clr4: #9EC6B3;


// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


// FONTS

$logofont: fredoka-one, san-serif;
$htmlfont: quick-sand, san-serif;