header {
    background-color: $clr2;
    height: 7vh;
}

.header-logo {
    font-family: $logofont;
    color: $clr4;
    font-size: rem(28px);
}

.header-container {
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
}

footer {
    height: 3vh;
    background-color: $clr2;
    color: $clr4;
}

nav {
    color: $clr4;

    button {
        background-color: transparent;
        border: none;
        outline: none;
        font-family: 'quick-sand';
        font-size: inherit;
    }

}

nav>* {
    color: $clr4;
    text-decoration: none;

   

}

nav>*:hover {
    text-decoration: underline;
    cursor: pointer;
}