.dashboard {
    min-height: 90vh;
    background-image: url('~@/assets/images/background1.jpg');
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-evenly;
    align-items: center;
}