.toy-filter {
    padding: 20px 0;

    .el-input {
        width: 250px;
        border-color: none;
        color: rgb(49, 49, 49);
    }

    .el-select {
        border-color: none;
        color: rgb(49, 49, 49);
    }

    & > *{
        margin-inline-end: 5px;
    }
}